<div class="wrapper">
    <div class="clear-filter " filter-color="white" style="background-image: url('assets/img/bg8.jpg'); background-size: cover">
        <div class="page-header-image rellax-header" data-rellax-speed="-7">
        </div>
        <div style="padding-left: 460px; padding-top: 100px;  color: white;">
            <h3>Notiuni de baza</h3>
            <div style="width: 800px; background-color:#0F2851; padding: 25px; border-width: 3px; border-color: white; border-style: solid" >

                <p>Primul
                    program pe care majoritatea oamenilor îl scriu când învaţă un limbaj de
                    programare este programul “Hello World!”.</p>


                    <div>

                        <div style="width: 350px; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; font-family:Verdana, Geneva, Tahoma, sans-serif">
                            <p>using System;</p>
                            <p>class Hello</p>
                            <p>{{ '{' }}</p>
                            <p>&emsp;public static void Main()</p>
                            <p>&emsp;{{ '{' }}</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Console.WriteLine.("Hello, world!")</p>
                            <p>&emsp;{{ '}' }}</p>
                            <p>{{ '}' }}</p>
                        </div>
                    </div>
                

                <p>În urma rulării , la consola va apărea textul : Hello, World!</p>


                <p>În C#, o aplicaţie este o colecţie de una sau mai multe clase, structuri de date şi
                    alte tipuri . Clasa este definită ca un set de date combinate cu metode (funcţii) de manipulare a
                    acestor date.
                </p>

                <p>Analizand programul Hello, World se observă existenţa unei
                    singure clase , numite Hello. Această clasă este introdusă prin cuvântul cheie
                    <b>class</b> . Urmează apoi deschiderea unei acolade <b>{{ '{' }}</b> . Tot ce urmază până la
                    acolada
                    închisă corespunzătoare <b>{{ '}' }}</b> aparţine clasei.</p>


                <b>Important!</b>
                <p>Limbajul C# este case sensitive.</p>
                <p>Numele metodei trebuie să fie întotdeauna <b>“Main”</b>, scris cu <b>‘M’</b> mare, restul fiind
                    litere mici.</p>
                <p>Deşi pot exista multe clase într-o aplicatie C#, poate exista un singur punct de
                    început. Este posibil ca mai multe clase să aibe definite metode Main, dar doar
                    una dintre acestea va fi executată . Va trebui ca programatorul să specifice care
                    dintre metodele Main să fie executate.</p>

                <h5>Namespace</h5>
                <p>C# are la dispoziţie o colecţie foarte mare de clase
                    care se ocupă cu o serie mare de operaţiuni. Pentru a organiza acest număr
                    foarte mare de clase, se folosesc Namespace-uri. Un namespace este un grup
                    de clase ce au legatură una cu alta. Un namespace poate conţine şi alte
                    namespace uri , formând o structură arborescentă.</p>
                <p>
                    Platforma .NET este alcătuită din multe namespace-uri, cel mai important
                    dintre acestea fiind System. Namespace-ul System conţine clasele pe care
                    majoritatea aplicaţiilor le folosesc pentru integrarea cu sistemul de operare.
                </p>


                <p>O clasă dintr un anumit namespace poate fi referită prefixând namespace-ul la
                    numele clasei. De exemplu, clasa Console este conţinută în namespace-ul
                    System. Pentru a apela metoda WriteLine a clasei Console, se poate scrie
                    următoarea linie de cod: </p>
                <mat-card style="width: 350px; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; font-family:Verdana, Geneva, Tahoma, sans-serif">System.Console.WriteLine(“Hello, world!")</mat-card>
            </div>
        </div>
    </div>
</div>