<div class="wrapper">
    <div class="clear-filter " filter-color="orange"
        style="background-image: url('assets/img/bg8.jpg'); background-size: cover">
        <div class="page-header-image rellax-header" data-rellax-speed="-7">
        </div>

        <div class="mt-5 pt-5">
            <button class="btn btn-primary btn-simple btn-round" type="button"  (click)="editLesson()">Edit Lesson</button>
        </div>

        <div *ngIf="!edit" style="padding-left: 460px; padding-top: 100px; padding-bottom: 60px;  color: white;">
            <div style="width: 800px; background-color:#0F2851; padding: 25px; border-width: 3px; border-color: white; border-style: solid" [innerHtml]="lesson.content">
            </div>
        </div>

        <div class="form-group" *ngIf="edit" style="width: 800px; background-color:#0F2851; padding: 25px; border-width: 3px; border-color: white; border-style: solid padding-left: 460px; padding-top: 100px; padding-bottom: 60px;  color: white;">

            <input style="width: 800px; background-color:#0F2851; padding: 25px; border-width: 3px; border-color: white; border-style: solid padding-left: 460px; padding-top: 100px; padding-bottom: 60px;  color: white;" type="text" [(ngModel)]="lesson.content" class="form-control" />
        </div>

        <mat-form-field style="width: 800px; background-color:#0F2851; padding: 25px; border-width: 3px; border-color: white; border-style: solid padding-left: 460px; padding-top: 100px; padding-bottom: 60px;  color: white;" type="text" [(ngModel)]="lesson.content" class="form-control" >
            <mat-label>Autosize textarea</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>

    </div>
</div>