<h4>Instructiuni bloc</h4>

<div style="width: 600px;">
    <p>Un program este alcătuit dintr
        o înlănţuire de instrucţiuni. În timpul rulării,
        aceste instrucţiuni sunt executate una după alta, aşa cum apar în program, de
        la stânga la dreapta şi de sus în jos.</p>
    <p>Un set de instrucţiuni între acolade este numit bloc. Un bloc poate să fie
        format dintr una sau mai multe instrucţiuni şi poate chiar să includă un alt bloc
        (nesting)</p>
    <p>
        Fiecare bloc defineşte un context. O variabilă declarată într
        un bloc este numită
        o variabilă locală. O astfel de variabilă este definită din locul unde a fost
        declarată până la închiderea acoladei ce marchează sfârşitul blocului.
    </p>
    <p>
        În cazul existenţei mai multor blocuri nested, este recomandată definirea
        variabilelor în cel mai specific bloc posibil, acest lucru făcând programul mai
        clar. În C# nu este posibilă declararea unor variabile într un bloc intern cu
        acelaşi nume ca variabilele din blocul părinte.
    </p>

    <h4>Tipuri de instructiuni</h4>

    <br>
    <p>Pe măsură ce complexitatea problemelor
        rezolvate de programe creşte, la fel
        creşte şi complexitatea logicii programului. În consecinţă, cursul programului
        trebuie să fie controlat într un mod cât mai structurat. Acest lucru se poate
        realiza folosind instrucţiuni de nivel mai înalt. Acestea se grupează în 3
        categorii:</p>
    <ul>
        <li><b>Instrucţiuni de selecţie</b>
            <p>Instrucţiunile <b>if</b> şi <b>switch</b> intră în această categorie. Ele permit luarea
                unei decizii pe baza evaluării unei expresii şi executarea selectivă a
                instrucţiunilor următoare în funcţie de decizia luată</p>
        </li>
        <li><b>Instrucţiuni de iteraţie</b>
            <p>Instrucţiunile <b>while</b>, <b>do</b>, <b>for</b> şi <b>foreach</b> se execută repetitiv cât timp o
                anumită condiţie este îndeplinită. Mai sunt numite şi instrucţiuni de
                ciclare. Fiecare dintre aceste instrucţiuni este potrivită pentru un anumit
                tip de iteraţie</p>
        </li>
        <li><b>Instrucţiuni de salt</b>
            <p>Instrucţiunile <b>goto</b> , <b>break</b> şi <b>continue</b> sunt folosite pentru transferul
                necondiţionat al controlului către o altă instrucţiune.</p>
        </li>
    </ul>

    <h5>Instructiunea IF</h5>
    <p><b>Sintaxa</b></p>
    <mat-card style="width: 350px;">
        <p>if (i < 0)</p>
                <p>&nbsp;&nbsp;&nbsp; bloc instrucţiuni</p>
                <p>else if (i == 0)</p>
                <p>&nbsp;&nbsp;&nbsp; Console.Write("Zero");</p>
                <p>else</p>
                <p>&nbsp;&nbsp;&nbsp; Console.Write("Pozitiv");</p>
    </mat-card>
    <p>
        Instrucţiunea <b>if</b> evaluează o expresie booleană pentru a determina ce trebuie
        executat mai departe. Dacă valoarea expresiei este true , controlul este dat
        blocului de instrucţiuni ce urmează dupa if . Dacă valoarea este false , controlul
        este dat blocului else dacă există
    </p>

    <p>
        În cazul în care blocul de instrucţiuni ce urmează instrucţiunii
        <b>if</b> sau clauzei <b>else</b>
        este format dintr o singură instrucţiune, acoladele sunt opţionale (t otuşi,
        pentru a avea cod mai clar de înţeles şi mai ordonat, se recomandă folosirea
        acoladelor )).
    </p>


    <h5>Instrucţiunea Switch</h5>
    <p>
        Instrucţiunea <b>switch</b> oferă un mecanism elegant pentru tratarea condiţiilor
        complexe care, altfel ar necesita instrucţiuni <b>if</b> folosite în cascadă. Este
        alcătuită din mai multe blocuri <b>case</b> , fiecare dintre acestea specificând o
        singură constantă şi eticheta <b>case</b> asociată. Nu este posibilă asocierea a mai
        multe constante aceleiaşi etichete <b>case</b>.
    </p>
    <p>
        Pentru fiecare bloc <b>case</b> urmează apoi un bloc de instrucţiuni ce se va termina,
        în cele mai multe cazuri, cu instrucţiunea break . În interiorul blocului se pot
        face declaraţii de variabile sau constante, acestea fiind definite de la declaraţie
        până la sfârşitul blocului <b>switch</b>.
    </p>

    <p>Executia unei instrucţiuni <b>switch</b>:</p>
    <ol>
        <li>Dacă una dintre constantele specificate în etichetele case este egală cu
            valoarea expresiei pe care se face <b>switch</b> , controlul este transferat către
            blocul de instrucţiuni asociat</li>
        <li>
            Dacă niciuna dintre constantele specificate nu este egală cu valoarea
            expresiei şi instrucţiunea <b>switch</b> conţine o etichetă <b>default</b> , controlul este
            transferat către lista de instrucţiuni ce urmează etichetei <b>default</b>.
        </li>
        <li>
            Daca nici una dintre constantele specificate nu este egală cu valoarea
            expresiei pe care se face <b>switch</b> şi instrucţiunea switch nu are definită o
            etichetă <b>default</b>, controlul este transferat la finalul instrucţiunii <b>switch</b>.
        </li>
    </ol>

    <h5>Instructiunea while</h5>
    <p>Instrucţiunea
        while este cea mai simplă dintre toate instrucţiunile de iteraţie.
        Instrucţiunea va executa repetitiv un bloc de instrucţiuni <b>while</b> (cât timp)
        expresia booleană asociată este adevărată. Este important faptul că expresia</p>
    <p>Execuția instrucţiunii:</p>
    <ol>
        <li>Expresia booleană ce controlează instrucţiunea while este evaluată</li>
        <li>Dacă expresia este evaluată la true , controlul este transferat blocului de
            instrucţiuni ataşat instrucţiunii <b>while</b>. La finalul blocului, controlul este
            automat trimis la începutul instrucţiunii <b>while</b> şi expresia este reevaluată</li>
        <li>Dacă expresia este evaluată la false, controlul este transferat la finalul
            instrucţiunii <b>while</b> şi nu se mai execută instrucţiunile din bloc.</li>
    </ol>
    <p>Expresia ce controlează instrucţiunea este testată la începutul buclei <b>while</b>. Este
        posibil ca instrucţiunile din bloc să nu execute nici o dată.</p>


    <h5>Instructiunea do-while</h5>
    <p>Instrucţiunea <b>do</b> este întotdeauna cuplată cu o instrucţiune <b>while</b>. Este similar
        cu o instrucţiunea <b>while</b>, cu excepţia faptului că evaluarea expresiei, pentru a
        decide dacă se va executa un ciclu sau se va ieşi, se face la finalul ciclului, nu la
        început. Acest lucru înseamnă că instrucţiunea <b>do</b> va itera cel puţin o dată.</p>

    <p>Execuția instrucţiunii:</p>
    <ol>
        <li>Controlul este transferat blocului de instrucţiuni</li>
        <li>Când se ajunge la sfârşitul blocului, se evaluează expresia booleană</li>
        <li>Dacă rezultatul este <b>true</b>, controlul este transferat la începutul instrucţiunii <b>do</b></li>
        <li>Dacă rezultatul este <b>false</b>, controlul este transferat la finalul instrucţiunii <b>do</b></li>
    </ol>

    <h5>Instructiunea break</h5>
    <p>Instrucţiunea break trimite controlul programului la ieşirea din cea mai
        apropiată instrucţiune de tip <b>switch</b>, <b>while</b>, <b>do</b>, <b>for</b> sau <b>foreach</b> care o conţine.</p>
    <p>Dacă instrucțiunea nu se află într un bloc de tip switch, while, do, for sau
        foreach, va fi generată o eroare la compilare.</p>
    <p>În cazul în care instrucțiunea se află într un bloc imbricat într un alt bloc de
        tipul enumerat mai sus, break se aplică doar pentru cel mai aproape bloc:</p>
    <mat-card style="width: 400px;">
    <p>while (a < 10)</p>
    <p>&nbsp; &nbsp;{{ '{' }}</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine(“Begin");</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; while (b < 100)</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; {{ '{' }}</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Console.WriteLine(“Before break");</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;break;</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Console.WriteLine(After break");</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; {{ '}' }}</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; Console.WriteLine("End");</p>
    <p>&nbsp; &nbsp;{{ '}' }}</p>
    </mat-card>

    <br>
    <p>Se va afisa pe consola: <br>
        <br>Begin<br>Before break<br>End
    </p>

</div>