<div class="h5">{{challengeItem.description}}</div>
<br>

<div *ngIf="!validated">
  <mat-radio-group *ngFor="let itemTask of challengeItem.challengeItemTaskList" [name]="itemTask.question" [value]="0"
    (change)="onChoiceSelected($event, choice)">
    <div>{{itemTask.question}}</div>
    <div *ngFor="let choice of itemTask.choiceList">
      <mat-radio-button [color]="warn" *ngFor="let choiceValue of choice.values" [value]="choiceValue">
        {{choiceValue.value}}</mat-radio-button>
    </div>


  </mat-radio-group><br><br>
</div>

<div *ngIf="validated">
  <mat-radio-group *ngFor="let taskAnswer of validatedAnswer.taskAnswers" [name]="taskAnswer.question">
    <div>{{taskAnswer.question}}</div>
    <!-- <div *ngFor="let choice of itemTask.choiceList"> -->
      <mat-radio-button *ngFor="let choice of taskAnswer.taskChoiceDtoList" [disabled]=true
        [checked]="choice.selected" [value]="choice.selected">
        {{choice.values[0]}}</mat-radio-button>
      <!-- <img *ngIf="taskAnswer.correct" style="width: 29px; height: 29px; margin-left:3em"
        src="../../../../assets/check.png">
      <img *ngIf="!taskAnswer.correct" style="width: 29px; height: 29px; margin-left:3em"
        src="../../../../assets/wrong.png"> -->
    <!-- </div> -->

    <div *ngIf="!taskAnswer.correct">
      Correct values:

      <p *ngFor="let correctChoice of taskAnswer.correctChoices" style="color: red;">{{correctChoice.choiceValueDtoList[0].value}}</p>
      <p>{{taskAnswer.explanation}}</p>
    </div>
  </mat-radio-group>
</div>