<div class="d-flex">
    <div class="d-flex">Variable name: </div>
</div>


<!-- <h1 mat-dialog-title>Edit {{variable.name}} variable's value</h1>
<div mat-dialog-content>
    <p>Variable type:</p>
    <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
            <mat-option *ngFor="let type of variableTypes" [value]="variable.value">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <p>Variable name:</p>
    <mat-form-field>
        <input matInput [(ngModel)]="variableName">
    </mat-form-field>
    <p>Variable value:</p>
    <mat-form-field>
        <input matInput [(ngModel)]="variableValue">
    </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-between">
    <button mat-button class="d-flex" (click)="onClickEdit()">Edit</button>
    <button mat-button class="d-flex" (click)="onClickClose()">Close</button>
</div> -->