/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:rgb(50,205,50); 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:rgb(50,205,50);
    background-color:rgb(50,205,50) ;
  } */

  
  
  body {
    /* background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
  }

